<h1> Edit Industry </h1>

<hr>

<%= form_for @industry do |f| %>

<br>

<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.label :description %>
<%= f.text_area :description %>

<br>



<%= f.submit 'Update' %>
<% end %>
