<h1> Edit Industry </h1>

<hr>

<%= form_for [@company, @industry] do |f| %>

<%= select("industry", "company_id", Company.all.collect {|p| [p.name, p.id ] }, {prompt: 'Select Company'}, include_blank: true) %>

<br>

<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.label :description %>
<%= f.text_area :description %>

<br>



<%= f.submit 'Update' %>
<% end %>
