<h1> INDUSTRY SHOW PAGE </h1>

<%= link_to 'Edit Industry', edit_industry_path(@industry) %>
<%= link_to("Delete Industry", @industry, :method => :delete, :class => 'action', data: {confirm: "Are you sure?"}) %>


<hr>

<em><h2> About </h2></em>

<strong> <h3> Name: </h3> </strong>
<%= @industry.name %>

<strong> <h3> Description: </h3> </strong>
<%= @industry.description %>

<strong> <h3> Date/Time Created: </h3> </strong>
<%= @industry.created_at.strftime "%m-%d-%Y   %H:%M:%S" %>

<strong> <h3> Date/Time Last Updated: </h3> </strong>
<%= @industry.updated_at.strftime "%m-%d-%Y   %H:%M:%S" %>

<em><h2> Companies in This Industry </h2></em>

<table>
  <tr>
    <th>
      Co. Name
    </th>
    <th>

    </th>
    <th>
      Co. Description
    </th>
    <th>
      Co. Price
    </th>
  </tr>

  <% @industry.companies.each do |company| %>
  <tr>
    <td>
      <%= company.name %>
    </td>
    <td>
      <%= company.description %>
    </td>
    <td>

    </td>
    <td>
      <%= company.price %>
    </td>
  </tr>
  <% end %>
</table>
