<h1>  ALL THE COMPANIES EVER CREATED! </h1>
<%= link_to 'Add a New Company', new_company_path %>
<hr>

<table>
  <tr>
    <th>
      Company Name
    </th>
    <th>
      Price
    </th>
    <th>
      Created At
    </th>
    <th>
      Updated At
    </th>
  </tr>

  <% @companies.each do |company| %>
  <tr>
    <th>
      <%= link_to company.name, company_path(company) %>
    </th>
    <th>
      <%= company.price %>
    </th>
    <th>
      <%= company.created_at %>
    </th>
    <th>
      <%= company.updated_at %>
    </th>
  </tr>
  <% end %>
</table>
