<h1> Create a new company </h1>

<hr>


<%= form_for @company do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.label :description %>
<%= f.text_area :description %>

<br>

<%= f.label :price %>
<%= f.number_field :price %>

<%= f.submit 'Create' %>
<% end %>
