<h1> Create a new company </h1>

<hr>


<%= form_for [@industry, @company] do |f| %>

<%= select("company", "industry_id", Industry.all.collect {|p| [p.name, p.id ] }, {prompt: 'Select Industry'}, include_blank: true) %>

<br>

<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.label :description %>
<%= f.text_area :description %>

<br>

<%= f.label :price %>
<%= f.number_field :price %>

<%= f.submit 'Create' %>
<% end %>
