<h1> Create a new company </h1>

<hr>

<% if @company.errors.any? %>
<h2><%= pluralize(@company.errors.count, "error") %> prohibited this entry from being saved:</h2>

<ul>
  <% @company.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<%= form_for @company do |f| %>

  <%= f.label :industry_id, 'Industries' %>
  <%= collection_select @industry, :industry_id, Industry.all, :id, :name, :prompt => 'Select Industry', :multiple => true %>

  <br>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <br>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit 'Create' %>
  <% end %>
